{% extends 'core/base.html' %}

{% block main %}
<div class="ui text container">
      <h1 class="ui inverted header">
        Peer<strong>Base</strong>
      </h1>
      <h2>Learn and share &mdash; collaboratively, fast and efficiently.</h2>
      <a class="ui huge green button" href="/register">Get Started <i class="right arrow icon"></i></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">How It Works.</h3>
          <p>It is a platform where yo get to learn and share what you have learned with your peers.</p>
          <h3 class="ui header">Why Choose PeerBase?</h3>
          <p>Education is brought to your convinience by getting information from your peer and sharing it to make their lives easier also.</p>
        </div>
        <div class="six wide right floated column">
          <!--Change this to an image that shows the decentralized system of sharing data.-->
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
